*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
img{
    width: 20vw;
}
/* form{
    width: 100%;
    height: 100%;
    display: flex;
}
.card{
    display: flex;
    background-color: gray;
    color:white;
    width: 50%;
    height: 10vh;;
    justify-content: space-around;
    align-items: center;
}
.title{
    width:70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.txt{
    width: 100%;
    height: 100%;
}
button{
    width: 15%;
    height: 100%;
}
.add{
    background-color: rgb(39, 214, 39);
}
.remove{
    background-color: rgb(247, 91, 91);
}
.list{
    display: flex;
    flex-direction: column;
} */